#cloud-config

coreos:
  etcd:
      #generate a new token for each unique cluster from https://discovery.etcd.io/new
      #discovery: https://discovery.etcd.io/<token>
      addr: $public_ipv4:4001
      peer-addr: $public_ipv4:7001
  units:
    - name: etcd.service
      command: start
    - name: fleet.service
      command: start
      runtime: no
      content: |
        [Unit]
        Description=fleet

        [Service]
        Environment=FLEET_PUBLIC_IP=$public_ipv4
        ExecStart=/usr/bin/fleet
    - name: docker-tcp.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Docker Socket for the API

        [Socket]
        ListenStream=4243
        Service=docker.service
        BindIPv6Only=both

        [Install]
        WantedBy=sockets.target
    - name: api.service
      command: start
      enable: true
      content: |

        [Unit]
        Description=marlito-api
        Requires=docker.service
        After=docker.service

        [Service]
        EnvironmentFile=/etc/environment
        ExecStartPre=/usr/bin/docker pull wiliamsouza/marlito-api:development
        ExecStart=/usr/bin/docker run --name marlito-api --rm -p 8000:8000 -e PRIVATE_IPV4=${COREOS_PRIVATE_IPV4} wiliamsouza/marlito-api:development
        ExecStopPost=/usr/bin/etcdctl set /marlito/api/ipv4/public ${COREOS_PUBLIC_IPV4}
        ExecStop=/usr/bin/docker stop marlito-api
        ExecStopPost=/usr/bin/etcdctl rm /marlito/api/ipv4/public

        [Install]
        WantedBy=multi-user.target
write_files:
  - path: /home/core/.ssh/authorized_keys.d/wiliamsouza
    permissions: 0600
    owner: core
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDubxeiGgx5gtiYdHyC3zKs5Lq4rXsh5PdeLDTe/gqkcZJqz7vAYmv1PhiMm9m6TqF7P2VMAKl2Eo1HJIS7LTjonzvSPraSMPKOUiLt+5Iyv8agGFPvlrqGtlOEFplKo9WdmUhmrreaepvjt9acRHrYEKqhuZyAZvrRQBv3PpMqIUnyQKnLfALNlENmuYFPt4b66KjotH9Xr2Grmcri03R+ZWD9OCFlKtyRhzfPE/OIuZau66yeyV50vSDZadgthn/pUhUXP9Y8U54ByIKMw7b9ZTchC9E/VC5QW3RwB+tLpWiPd3srHc1/1+tOByxsD+4gLPpEKXmAkAbI0evN2FVn wiliamsouza83@gmail.com
