#cloud-config

coreos:
  etcd:
      #generate a new token for each unique cluster from https://discovery.etcd.io/new
      #discovery: https://discovery.etcd.io/<token>
      addr: $public_ipv4:4001
      peer-addr: $public_ipv4:7001
  units:
    - name: etcd.service
      command: start
    - name: fleet.service
      command: start
      runtime: no
      content: |
        [Unit]
        Description=fleet

        [Service]
        Environment=FLEET_PUBLIC_IP=$public_ipv4
        ExecStart=/usr/bin/fleet
    - name: docker-tcp.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Docker Socket for the API

        [Socket]
        ListenStream=4243
        Service=docker.service
        BindIPv6Only=both

        [Install]
        WantedBy=sockets.target
write_files:
  - path: /etc/env.d/99marlito
    permissions: 644
    owner: root
    content: |
      ENVIRONMENT=development
      DOCKER_REGISTRY=<LOCAL-REGISTRY-IP>
  - path: /home/core/.ssh/authorized_keys.d/wiliamsouza
    permissions: 0600
    owner: core
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDubxeiGgx5gtiYdHyC3zKs5Lq4rXsh5PdeLDTe/gqkcZJqz7vAYmv1PhiMm9m6TqF7P2VMAKl2Eo1HJIS7LTjonzvSPraSMPKOUiLt+5Iyv8agGFPvlrqGtlOEFplKo9WdmUhmrreaepvjt9acRHrYEKqhuZyAZvrRQBv3PpMqIUnyQKnLfALNlENmuYFPt4b66KjotH9Xr2Grmcri03R+ZWD9OCFlKtyRhzfPE/OIuZau66yeyV50vSDZadgthn/pUhUXP9Y8U54ByIKMw7b9ZTchC9E/VC5QW3RwB+tLpWiPd3srHc1/1+tOByxsD+4gLPpEKXmAkAbI0evN2FVn wiliamsouza83@gmail.com
