#cloud-config

coreos:
  etcd:
      #generate a new token for each unique cluster from https://discovery.etcd.io/new
      #discovery: https://discovery.etcd.io/<token>
      addr: $public_ipv4:4001
      peer-addr: $public_ipv4:7001
  units:
    - name: etcd.service
      command: start
    - name: fleet.service
      command: start
      runtime: no
      content: |
        [Unit]
        Description=fleet

        [Service]
        Environment=FLEET_PUBLIC_IP=$public_ipv4
        ExecStart=/usr/bin/fleet
    - name: docker-tcp.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Docker Socket for the API

        [Socket]
        ListenStream=4243
        Service=docker.service
        BindIPv6Only=both

        [Install]
        WantedBy=sockets.target
    - name: api.service
      command: start
      enable: true
      content: |
        [Unit]
        Description=marlito-api
        Requires=etcd.service
        After=etcd.service

        [Service]
        EnvironmentFile=/etc/environment
        TimeoutStartSec=20m
        ExecStartPre=/bin/sh -c "docker history wiliamsouza/marlito-api >/dev/null || docker pull wiliamsouza/marlito-api:latest"
        ExecStartPre=/bin/sh -c "docker inspect marlito-api >/dev/null && docker rm -f marlito-api || true"
        ExecStart=/usr/bin/docker run --name marlito-api -p 8000:8000 -e PUBLISH=8000 -e HOST=${COREOS_PRIVATE_IPV4} wiliamsouza/marlito-api
        ExecStop=/usr/bin/docker rm -f marlito-api

        [Install]
        WantedBy=multi-user.target
