[Unit]
Description=marlito-api
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/env.d/marlito
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull ${DOCKER_REGISTRY}:5000/marlito/api:${ENVIRONMENT}
ExecStart=/usr/bin/docker run --name api-%i --rm -p %i:8000 ${DOCKER_REGISTRY}:5000/marlito/api:${ENVIRONMENT}
ExecStartPost=/usr/bin/etcdctl set /marlito/api/%i/ipv4/public ${COREOS_PUBLIC_IPV4}:%i
ExecStop=/usr/bin/docker stop api-%i
ExecStopPost=/usr/bin/etcdctl rm /marlito/api/%i/ipv4/public

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-Conflicts=api@%i.service
